@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body, :root {
    font-family: 'Montserrat', sans-serif;
}

button {
    box-shadow: none;
    border: none;
    background-color: transparent;
    padding: 5px 5px;
    height: 6vh;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:visited, a:active, a:link {
    color: black;
}